node_modules
# Keep environment variables out of version control


/generated/prisma

/src/generated/prisma

/src/generated/prisma

/src/generated/prisma

/prisma/..src/generated/prisma

/src/generated/prisma

brick-management-backup-153526dd73b8.json